<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Bullsfirst</title>
      <!-- Libs -->
      <script src="js/angular.js"></script>
      <!-- Application -->
      <script src="module/app.js"></script>
      <script src="controller/AccountsController.js"></script>
      <!-- Vikas Anand Code here -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
      <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
      <!-- Vikas Anand Code ends here -->
	  <link rel="stylesheet" href="css/app.css">
      <link href="css/font-awesome.min.css" rel="stylesheet">
	   
   </head>
   <body ng-app="bullsfirst">
      <div class="contentBulls" ng-controller="AccountsController">
         <div id="header">
            <div class="logo">
               <img class="logoHeader" src="images/logo_Upper.png">
               <h1>bullsfirst</h1>
               <div class="subtitle">Calling All Bull Markets</div>
            </div>
            <div class="actions">
               <button ng-click="tradeAccount()"><i class="fa fa-star-o" aria-hidden="true"></i>Trade</button>
               <button ng-click="transferAccount()"><i class="fa fa-sign-in" aria-hidden="true"></i>Transfer</button>
            </div>
         </div>
         <!-- Content -->
         <div id="content">
            <div class="left-section">
               <div class="header">
                  <strong>Accounts</strong>
                  <div class="actions">
                     <button ng-click="addAccount()"><i class="fa fa-plus customIcon" aria-hidden="true"></i>Add Account</button>
                     <button ng-click="refreshAccount()"><i class="fa fa-refresh" aria-hidden="true"></i>Refresh</button>
                  </div>
               </div>
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Market Value</th>
                     <th>Cash</th>
                     <th>Legend</th>
                  </tr>
                  <tr ng-repeat="row in rows">
                     <td>{{ row.name }}</td>
                     <td>{{ row.marketValue | currency }}</td>
                     <td>{{ row.cash | currency }}</td>
                     <td>
                        <div class="legend" style="background-color: {{ row.legend }}"></div>
                     </td>
                  </tr>
                  <tr class="totals">
                     <td></td>
                     <td>
                        <strong>{{ totals.marketValue | currency }}</strong>
                     </td>
                     <td>
                        <strong>{{ totals.cash | currency }}</strong>
                     </td>
                     <td></td>
                  </tr>
               </table>
            </div>
            <div class="right-section">
               <h4>All Account</h4>
               <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options" ng-click="clickme()" >
               </canvas>
               <div class="help-label">Click on an account to view positions</div>
            </div>
         </div>
      </div>
   </body>
</html>